@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --firstcolor:#111B47;
    --textColor:#505F98;
    --headerColor:#37447E;
}
*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: url(images/image1.svg);
    background-position: right top ;
    background-repeat: no-repeat;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1%;
}
header > nav > menu{
    display: flex;
}
header > nav > menu > li{
    list-style: none;
    margin: 0 20%;
}
header > nav > menu > li > a{
    text-decoration: none;
    color: var(--textColor);
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
header>h2{
    color: var(--headerColor);
    font-size: 26px;
    font-weight: 900;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
}
header > button {
    width: 160px;
    height: 26px;
    background-color: var(--firstcolor);
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    border: none;
    border-radius: 2px;
}
#Home{
    margin-bottom: 30%;
    width: 100%;
}
#Home article{
    max-width: 600px;
    margin: 30vh 0% 0% 15%;
}
#Home article>h1{  
    font-size: 50px;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: 1px;
    text-align: left;
    color: #091133;
}
#Home article>p{
    width: 33vw;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color:#091133
}
#Home article > p >span{
    display: block;
    width: 35vw;
    padding-top: 5%;
    margin-bottom: 10%;
}
#Home article>button{ 
    width: 189px;
    height: 36px;
    margin-right: 5%;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    
} 
#Home article> button:nth-of-type(1){
    background-color: var(--firstcolor);
    color: #FFFFFF; 
    border: none;
    border-radius: 2px;
}
#Home article> button:nth-of-type(2){
    color: #091133; 
    border: solid 1px #091133 ;
    background: none;
}
#About  article{
    display: flex;
    align-items: center;
    margin: 30vh 0% 15% 15%;;
}
#About  article div h1{
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
    color: #091133;
}
#About > article > div  p{
    width: 34vw;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: #6F7CB2;
}
#About > article > div  p span{
    display: block;
    margin: 5% 0 10%;
}
#About > article > div  div{
    display: flex;
    
}
#About > article > div  div div{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    
}
#About > article > div  div div img{
    width: 2vw;
    
}
#About > article > div  div div h3{
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;  
    color: #091133;

}
#About > article > div  div div p{
    width: 15vw;
    color: #5D6970;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
}
.image img{
    width: 45vw;
}
.firstRegion,.secoundRegion,.thirdRegion{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10%;
}
.firstRegion div p{
    width: 28vw;
}
.firstRegion div p span{
    display: block;
    width: 28vw;
    margin-top: 5%;
}
.secoundRegion div p{
    width: 28vw;
}
.secoundRegion div p span{
    display: block;
    width: 28vw;
    margin-top: 5%;
}
.thirdRegion div p{
    width: 28vw;
}
.thirdRegion div p span{
    display: block;
    width: 28vw;
    margin-top: 5%;
}
#About div p{
    color: #6F7CB2;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
}
#About div h1{
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
    color: #091133;
}
.firstRegion img,
.secoundRegion img,
.thirdRegion > img {
    max-width: 100%;
}
#Contact{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #E7ECFF;
    height: 100vh;
}
#Contact h1{
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    color: #091133;
}
#Contact  p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #6F7CB2;
    width: 38%;
    text-align: center;
}
#Contact b{
    font-size: 50px;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: 1px;
    color: #222F65;
}
#Contact h3{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #37447E;  
}
#Contact h6{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: #5D6970;  
}
#Contact button{
    width: 189px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    background-color: #111B47;
    border: none;
    border-radius: 2px;
}
footer > div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer > div p{
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #939EA4;
}
footer > div h2{
    font-size: 26px;
    font-weight: 900;
    line-height: 38px;
    text-align: left;
    color: #37447E;

}
footer > div button{
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    background-color:#111B47 ;
    width: 109px;
    border: none;
    border-radius: 2px;
    padding: 3px 2px;
}
footer div:nth-of-type(2){
    display: flex;
    justify-content: space-around;  
}
footer div:nth-of-type(2) menu{
    display: flex;
    justify-content: space-around; 
    
}
footer div:nth-of-type(2) menu li{
    list-style: none;
    margin-left: 30%; 
}
footer div:nth-of-type(2) menu li a{
   text-decoration: none;
   color: #929ECC;

}
footer div:nth-of-type(2) div {
    width: 10%;
    display: flex;
    justify-content: space-between;
}
footer div:nth-of-type(2) div i {
   color: #B0B8BC;
}
hr{
    width: 60%;
}