@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --firstcolor:#111B47;
    --textColor:#505F98;
    --headerColor:#37447E;
}
*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin:  0;
}
body{
    height: 100vh;
    background-image: url(images/image1.svg);
    background-position: right top ;
    background-repeat: no-repeat;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1%;
}
.fa-solid{
        display: none;
}
header > nav > menu{
    display: flex;
}
header > nav > menu > li{
    list-style: none;
    margin: 0 20%;
}
header > nav > menu > li > a{
    text-decoration: none;
    color: var(--textColor);
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
header>h2{
    color: var(--headerColor);
    font-size: 26px;
    font-weight: 900;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
}
header > button {
    width: 160px;
    height: 26px;
    background-color: var(--firstcolor);
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    border: none;
    border-radius: 2px;
}
#Home{
    margin-bottom: 30%;
    width: 100%;
}
#Home article{
    max-width: 600px;
    margin: 30vh 0% 0% 15%;
}
#Home article>h1{  
    font-size: 50px;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: 1px;
    text-align: left;
    color: #091133;
}
#Home article>p{
    width: 33vw;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color:#091133
}
#Home article > p >span{
    display: block;
    width: 35vw;
    padding-top: 5%;
    margin-bottom: 10%;
}
#Home article>button{ 
    width: 189px;
    height: 36px;
    margin-right: 5%;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    
} 
#Home article> button:nth-of-type(1){
    background-color: var(--firstcolor);
    color: #FFFFFF; 
    border: none;
    border-radius: 2px;
}
#Home article> button:nth-of-type(2){
    color: #091133; 
    border: solid 1px #091133 ;
    background: none;
}

#About  article{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    margin: 35% 0% 15% 15%;
}
#About  article div h1{
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
    color: #091133;
}
#About > article > div  p{
    width: 34vw;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: #6F7CB2;
}
#About > article > div  p span{
    display: block;
    margin: 5% 0 10%;
}
#About > article > div  div{
    display: flex;
    
}
#About > article > div  div div{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    
}
#About > article > div  div div img{
    width: 2vw;
    
}
#About > article > div  div div h3{
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;  
    color: #091133;

}
#About > article > div  div div p{
    width: 15vw;
    color: #5D6970;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
}
.image img{
    width: 45vw;
}
.firstRegion,.secoundRegion,.thirdRegion{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10%;
}
.firstRegion div p{
   max-width: 28vw;
}
.firstRegion div p span{
    display: block;
    /*width: 28vw;*/
    margin-top: 5%;
}
.secoundRegion div p{
    width: 28vw;
}
.secoundRegion div p span{
    display: block;
    /*width: 28vw;*/
    margin-top: 5%;
}
.thirdRegion div p{
    width: 28vw;
}
.thirdRegion div p span{
    display: block;
    /*width: 28vw;*/
    margin-top: 5%;
}
#About div p{
    color: #6F7CB2;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
}
#About div h1{
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
    color: #091133;
}
.firstRegion> div > img,
.secoundRegion> div > img,
.thirdRegion> div > img {
    max-width: 100%;
}
#Contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F3F5FF;
    height: 100vh;
}
#Contact h1{
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    color: #091133;
}
#Contact  p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #6F7CB2;
    width: 38%;
    text-align: center;
}
#Contact b{
    font-size: 50px;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: 1px;
    color: #222F65;
    margin-top: 3%;
}
#Contact h3{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #37447E;  
    margin: 0;
}
#Contact h6{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: #5D6970; 
    margin: 3em 0  0; 
}
#Contact button{
    width: 189px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    background-color: #111B47;
    border: none;
    border-radius: 2px;
}
footer{
    background-color: #E7ECFF;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer > div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
footer > div p{
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #939EA4;
}
footer > div h2{
    font-size: 26px;
    font-weight: 900;
    line-height: 38px;
    text-align: left;
    color: #37447E;

}
footer > div button{
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    background-color:#111B47 ;
    width: 109px;
    border: none;
    border-radius: 2px;
    padding: 3px 2px;
}
footer div:nth-of-type(2){
    display: flex;
    justify-content: space-around;  
    align-items: center;
}
footer div:nth-of-type(2) menu{
    display: flex;
    justify-content: space-around; 
    
}
footer div:nth-of-type(2) menu li{
    list-style: none;
    margin-left: 30%; 
}
footer div:nth-of-type(2) menu li a{
   text-decoration: none;
   color: #929ECC;

}
footer div:nth-of-type(2) div {
    width: 10%;
    display: flex;
    justify-content: space-between;
}
footer div:nth-of-type(2) div i {
   color: #B0B8BC;
}
hr{
    width: 60%;
    margin: 2% 0;
}
header > i {
    display: none;
 }
@media screen and (max-width: 1280px) {
    #Home article{
        margin: 15vh 0% 0% 5%;
    }
    #About{
        margin-top: 45%;
    }
}
@media screen and (max-width: 1120px) {
    #About{
        margin-top: 50%;
    }
}
@media screen and (max-width: 1000px) {
    #Home {
        margin-bottom: -40%;
        width: 100%;
    }
    #About{
        margin-top: 60%;
    }
    body{
        background-size: 70%;
    }
    #Home article>p{
        width: 50vw;
    }
    #Home article>h1 {
        font-size: 42px;
    }
    header>h2 {
        margin-left: 10%;
    }
    .firstRegion div p{
        max-width: 50vw;
    }
    .firstRegion> div > img, .secoundRegion> div > img, .thirdRegion> div > img {
        margin: 0 auto;
        padding-top:10%
    }
    #About > article > div  p{
        width: 50vw;
    }
    #About  article div h1 {
        font-size: 30px;
    }
    .firstRegion div p{
        width: 50vw;
        padding-top: 5%;
    }
    .secoundRegion div p,
    .thirdRegion div p {
        width: 50vw;
        padding-top: 5%;
    }
    #About div h1 {
      text-align: center;
    }
    header > button {
       display: none;
    }
    #Home article>h1 {
        font-size: 35px;
        width: 50vw;
    }
    #Home article>p {
    width:50vw;
    font-size: 15px;
    }
    #About  article div h1 {
        font-size: 26px;
    }
    #About > article > div  p {
        width: 60vw;
        font-size: 16px;
        align-items: center;
    }
    #About  article {
        justify-content: center;
    }
    #About  article div h1 {
        text-align: center;
    }
    #About > article > div  div{
        justify-content: space-evenly;
    }
    #About > article > div  p {
        text-align: center;
    }
    #About > article > div  div div {
        align-items: center;
    }
    #About > article > div  div div p {
        text-align: center;
    }
    .firstRegion div:nth-of-type(2)
    {
        margin-left: 1%;
    }
    .thirdRegion div:nth-of-type(2)
    {
        margin-left: 5%;
    }
    .firstRegion,.secoundRegion,.thirdRegion{
        flex-direction: column-reverse;
        margin-top: 2%;
    }
}
@media screen and (max-width: 500px) {
    header > nav {
        display:none;
    }
    .fa-solid{
        display: block;
    }
    header{
        justify-content:space-around;
        flex-direction: row-reverse;
    }
    header:hover nav menu {
        display: block;
    }
    .fa-solid:hover + nav{
        display: block;
        background-color: #5D6970;
    }
    .fa-solid:hover + nav>menu{
        position: absolute;
        width: 36vw;
        height: 35vh;
        margin: 0 auto;
        background-color: #FFFFFF;
    }
    #Home article>h1 {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    #Home article {
        margin: 10% 0% 0% 2%;
    }
    #Home article>p {
        width: 60vw;
        font-size: 0.8rem;
    }
    #Home article > p >span {
        width: 75vw;
    }
    #Home article>button {
        width: 8rem;
        height: 2rem;
        font-size: 0.8rem;
    }
    body{
        background-size: 60%;
        background-position: right 15%;
    }
    #About  article {
        margin: 0 auto;
    }
    #About > article > div  p{
        width: 100%;
    }
    #About > article > div  div div p {
        text-align: center;
        width: 100%;
    }
    #About div h1{
        font-size: 1.5rem;
    }
    .firstRegion div{
        width: 100%;
    }
    #About div p {
        max-width: 90%;
        width: 90%;
        margin: 0 auto;
    }
    .firstRegion> div > img, .secoundRegion> div > img, .thirdRegion> div > img {
        width: 60%;
        margin: 0 25%;
    }
    #Contact  p {
        width: 90%;
        text-align: center;
    }
    footer {
        height: 20vh;
    }
    footer > div {
        align-items: center;
        width: 100%;
        flex-direction: column;
    }
    footer div:nth-of-type(2) div {
        width: 40%;
        margin-top: 2%;
    }
    footer > div h2{
        margin: 3% 0;
    }
}
